/* breakpoints */
$breakpoints-xxxl: 1920px;
$breakpoints-xxl: 1600px;
$breakpoints-xl: 1400px; // commonly used - desktop // our main resolution
$breakpoints-lg: 1200px;
$breakpoints-md: 1024px; // commonly used - tablet
$breakpoints-sm: 768px;
$breakpoints-xs: 576px; // commonly used - mobile
$breakpoints-xxs: 325px;
