// IT WILL GENERATE THE BASER FONT SIZE TO BE USED ON HTML (REM)
$max_width: 1440px; // $breakpoints-xl; //it will set the breakpoint that the font will reach the MAXIMUM size
$min_width: 576px; // $breakpoints-xs; //it will set the breakpoint that the font will reach the MINIMUM size
$max_font: 16px; // it may need to be adjusted based on the font-family
$min_font: 14px; // it may need to be adjusted based on the font-family=
