<p>HOME</p>

<button mat-button color="primary" (click)="showToast('error')">Toast Error</button>
<button mat-button color="primary" (click)="showToast('success')">Toast Success</button>
<button mat-button color="primary" (click)="showToast('info')">Toast Info</button>


<button mat-button color="primary" (click)="showAlert('error')">Alert Error</button>
<button mat-button color="primary" (click)="showAlert('success')">Alert Success</button>
<button mat-button color="primary" (click)="showAlert('info')">Alert Info</button>